/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#mani {
  padding: 0px 120px;
}

#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuleft {
  display: flex;
  align-items: center;
}
.menuright {
  align-items: center;
  display: flex;
}
.menuright span {
  height: 30px;
  width: 1px;
  background-color: #333;
  margin: 0px 16px;
}
.itemleft {
  margin: 0px 67px 0px 0px;
  transition: all 0.2s linear;
}
.itemleft a {
  text-decoration: none;
  color: #333;
}
.itemleft:hover {
  border-bottom: 2px solid #333;
}
.menuleft .firtItem:hover {
  border: none;
}

#slider {
  display: flex;
  align-items: center;
  margin-top: 158px;
  justify-content: space-between;
}
.sliderleft h1 {
  color: #f7d644;
  font-size: 64px;
  font-weight: 700;
}
.sliderleft h2 {
  color: #333333;
  font-size: 64px;
  font-weight: 700;
}
.sliderleft h3 {
  padding-top: 34px;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}

.conten {
  display: flex;
  margin: 84px 0px 121px;
  justify-content: space-between;
  color: #333333;
}
.conten p {
  width: 293px;
  height: 144px;
  font-weight: 400;
  font-size: 24px;
}

.contendisplay h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 77px;
  color: #333333;
}
.aboud {
  margin-top: 66px;
  font-weight: 700;
  font-size: 48px;
  padding-right: 121px;
  color: #333333;
}
.aboud p {
  font-weight: 400;
  font-size: 30px;
  color: #333333;
}
.img {
  display: flex;
  margin: 44px 0px 121px;
}
.imgaboud {
  padding-left: 23px;
}
.imgabou h1 {
  font-size: 36px;
  font-weight: 700;
  color: #303031;
}
.img p {
  padding-top: 31px;
  font-weight: 400;
  font-size: 20px;
  color: #303031;
  font-family: "Manrope";
}
.serrvi {
  margin-right: 119px;
}
.serrvi p {
  margin-top: 157px;
  width: 197px;
  height: 45px;
  font-weight: 400;
  font-size: 30px;

  color: #333333;
}

  
.maginlift h1{
  display: flex;
  align-items: center;
  font-weight: 400;
font-size: 70px;
color:#333333; 

}
.maginlift{
  display: flex;
  margin: 63px 0px 125px;
  justify-content: space-between;
  
}
.maginr h1 p {
  font-weight: 700;
font-size: 16px;
font-style: normal;
font-weight: 700;
padding: 34px 0px 0px 17px;
color: #333333;
}
.liftitem h1 p{
  font-weight: 700;
font-size: 16px;
padding: 34px 0px 0px 16px;
font-style: normal;

}
.itemlift{
  display: flex;
  margin: 33px 0px 100px;
  justify-content: space-between;
  color: #333333;

}
.itemlift h1{
  display: flex;
  font-weight: 400;
font-size: 70px;
align-items: center;}

.ourvauft{
  display: flex;
  margin: 94px 119px 0px 0px;
  
}
.ourvauftcss p{
  font-weight: 400;
  font-size: 30px;
}
.ourvauftcss h1{
  font-weight: 700;
font-size: 48px;

}
.ourvauftcs{
  font-weight: 400;
font-size: 20px;
padding: 34px 0px 0px 51px;

}
.transpa{
  display: flex;
  margin: 82px 300px 0px 0px;
  justify-content: space-between;
 
}
.transpa h1{
  display: flex;
  align-items: center;
  
  
}
.transpa p{
  font-weight: 700;
  font-size: 16px;
  padding-left: 20px;
  color: #333333;

}
.transpa h1 img{
  background: #F7DA57;
  border-radius: 20px;
  width: 69px;
height: 69px;
padding: 21px;
}
.intrus{
  margin: 67px 119px 0px 0px;
  background-color: #F5F5F5;
 width: 100%;
  height:100%;
}
.indutry{
  margin: 67px 0px 119px 0px;
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
}
.indutryf h1{
  padding-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
color: #333333;
}
.indutry p{
  font-weight: 400;
  font-size: 20px;
color: #303031;
}
.indutryc{
  display: flex;
  justify-content: space-between;
  margin: 47px 0px 120px 0px;
  background-color:  #F5F5F5;
  position: relative;
}

.indutryg h1{
  padding-top: 36px;
 
}
.indutryg img {
 
   background: #F7DA57;
border-radius: 30px;
width: 86px;
height: 86px;
padding: 23px;
position: relative;

}


.indutryg p{
  padding-top: 27px;
}


















 